{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">


      <div class="row my-4">

        <!-- Block DE KITTING------------------------------------------------------------------>

        <div class="col-lg-2 col-md-6">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>*** KITTING ***</h6>
              <p class="text-sm">
                <i class="fa fa-arrow-down text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">Chaine A37</span> 
              </p>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">

                {% for poste_item in poste %}

                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="ni ni-cart text-success text-gradient"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">{{poste_item.intitule}}</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{poste_item.projet_id.intitule}}</p>
                  </div>
                </div>

                {% endfor %}


              </div>
            </div>
          </div>
        </div>

        <!-- FIN DE BLOCK KITTING -->
        

        <!-- Block DE BON DE SORTIE------------------------------------------------------------------>

        <div class="col-lg-10 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Bon de Sortie: *** Intitulé du Poste ***</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">Projet: </span> *** Nom du projet ***
                  </p>
                </div>

                <div class="col-lg-6 col-5 my-auto text-end">

                    <button type="button" style="margin-right: 20%;" class="btn bg-gradient-info w-30"><i class="fas fa-plus"></i> Ajouter</button>
      
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Imprimer</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Envoyer par mail</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Annuler</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fournisseur</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Designation</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Réf_interne</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Réf_Fournisseur</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Qté en Stock</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Qté à Sortir</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">**fourn***</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                      
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">**designation***</h6>
                        </div>
                        
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold"> **Ref_intern** </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold"> **Ref_fourn** </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold"> **Qté** </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold"> **5** </span>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--FIN DE BLOCK BON_DE_SORTIE-->
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
  
   
  </script>

{% endblock javascripts %}
