{% extends 'layouts/base.html' %}

{% block title %} KittingApp {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>
  .scrollable-div {
      height:700px; /* Définissez la hauteur maximale */
      overflow-y:auto; /* Ajoute une barre de défilement verticale si nécessaire */
      padding: 10px;
      scroll-behavior: smooth;
      box-sizing: border-box;
  }
  .validate-button {
    background-color: chartreuse;
  }
</style>

{% endblock stylesheets %}

{% block content %}

      <div class="row container-fluid px-3">

        <!-- Block DE KITTING------------------------------------------------------------------>

        <div class="col-lg-2 h-50">
          <div class="card w-100">
            <div class="card-header pb-0">
              <h6>*** KITTING ***</h6>
              <p class="text-sm">
                <i class="fa fa-arrow-down text-success" aria-hidden="true"></i>
                <span class="font-weight-bold">Chaine A37</span> 
              </p>
            </div>
          <div class="scrollable-div container-fluid">
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">

                {% for poste_item in poste %}

                <button class="timeline-block mb-3 btn bg-gradient-info selected-poste" data-id="{{poste_item.id}}">
                  <span class="timeline-step">
                    <i class="ni ni-cart text-success text-gradient"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">{{poste_item.intitule}}</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{poste_item.projet_id.intitule}}</p>
                  </div>
                </button>

                {% endfor %}


              </div>
            </div>
          </div>
            
          </div>
        </div>

        <!-- FIN DE BLOCK KITTING -->
        

        <!-- Block DE BON DE SORTIE------------------------------------------------------------------>

        <div class="col-lg-10 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7" id="bs_entete">
                  <h6>Bon de Sortie: *Selectionner un Poste*</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">Projet encours: </span> *Projet encours*
                  </p>
                </div>

                <div class="col-lg-6 col-5 my-auto text-end">

                    <button type="button" style="margin-right: 20%;" class="btn bg-gradient-info w-30" id="toggle-input-article"><i class="fas fa-edit"></i> Editer</button>
      
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Imprimer</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Envoyer par mail</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Annuler</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table id="articles-table" class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Fournisseur</th>
                      <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7">Designation</th>
                      <th class="text-uppercase text-info text-xxs font-weight-bolder opacity-7 ps-2">Réf_interne</th>
                      <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Réf_Fournisseur</th>
                      <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Qté en Stock</th>
                      <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Qté à Sortir</th>
                      <th class="text-center text-uppercase text-info text-xxs font-weight-bolder opacity-7">Status</th>
                    </tr>
                  </thead>
                  <tbody>

                    {% for listing in listing %}
                     <!-- {% if listing.bon_de_sortie_id.poste_id == selection_id.selected_poste_id %}  -->
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <span class="mb-0 text-sm">{{listing.fournisseur}}</span>
                              </div>
                            </div>
                          </td>
                          <td>
                          
                            <div class="d-flex flex-column justify-content-center">
                              <span class="mb-0 text-sm">{{listing.designation}}</span>
                            </div>
                            
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">{{listing.ref_intern}}</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">{{listing.ref_fourn}}</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">{{listing.qte_en_stk}}</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">{{listing.qte_a_sortir}}</span>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold">{{listing.status}}</span>
                          </td>
                        </tr>

                     <!-- {% endif %}  -->

                    {% endfor %}

                   
                    
                  </tbody>
                  <tfoot>
                    <tr id="input-row" style="display: none;">
                      <td colspan="5">
                      <div class="input-group" style=" margin: 5px;" >
                      
                        <input id="article-input" type="text" list="liste_article" class="form-control" placeholder="***Réf Fournisseur *** Désignation *** Réf_interne">
                        <datalist id="liste_article">
                          {% for article in articles %}
                          <option value="{{article.fournisseur.nom}} - {{article.designation}} - {{article.ref_intern}} - {{article.ref_fourn}}">
                          {% endfor %}
                        </datalist>

                      </div>  
                    </td>
                    <td>
                      <div class="input-group" style=" margin: 5px;" >
                        <input id="qte_s" type="number" min="0" class="form-control" placeholder="Qté à Sortir">
                      </div>  
                    </td>

                    <td>
                      <div class="input-group" style=" justify-content: center; margin-top: 15px;" >
                      <button id="article-input-button" type="button" class="btn bg-gradient-info"><i class="fas fa-plus"></i></button>
                    </div>  
                    </td>
                    
                     </tr>
                  </tfoot>            
                
                </table>
              </div>
            </div>
          </div>
        </div>

        <!--FIN DE BLOCK BON_DE_SORTIE-->
      </div>

      {% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
		
    $(document).ready(function() {
      $('.selected-poste').click(function() {
            const id = $(this).data('id');
                sendToServer(id);
            });
      
      $('#toggle-input-article').click(function() {
        $('#input-row').toggle();
        if ($('#input-row').is(':visible')) {
                    $('#toggle-input-article').html(`
                    <i style="background-color:green"; class="fas fa-check"></i> Valider
                    `);
                    
                } else {
                  $('#toggle-input-article').html(`
                    <i class="fas fa-edit"></i> Editer
                    `);
                    location.reload();
                }
      });      


      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }

      const csrftoken = getCookie('csrftoken');
            

      function sendToServer(id){
			   console.log(id);

         $.ajax({
                url: "selected_poste",  // URL de votre endpoint
                type: "POST",
                data: { id: id },
                headers: { "X-CSRFToken": csrftoken },

                success: function(response) {
                    console.log(response);
                },
                success: function(response) {
                    if (response.status === "success") {
                        // Mettre à jour la div avec les données reçues
                        $('#bs_entete').html(`
                            <h6>Bon de Sortie: ${response.intitule_du_poste}</h6>
                            <p class="text-sm mb-0">
                              <i class="fa fa-check text-info" aria-hidden="true"></i>
                              <span class="font-weight-bold ms-1">Projet: </span> ${response.projet_encours}
                            </p>
                        `);
                    } else {
                        console.log(response.message);
                    }
                },
                error: function(jqXHR) {
                    console.log("Erreur du serveur:");
                }
            });
      };
    });

    $(document).ready(function() {
            function addArticleToTable(article) {
                var tableBody = $('#articles-table tbody');
                var row = tableBody.add('<tr></tr>');
                row.append($('<td><span>').text(article.fournisseur)).addClass("align-middle text-center text-sm text-xs font-weight-bold");
                row.append($('<td><span>').text(article.designation)).addClass("align-middle text-center text-sm text-xs font-weight-bold");
                row.append($('<td><span>').text(article.ref_intern)).addClass("align-middle text-center text-sm text-xs font-weight-bold");
                row.append($('<td><span>').text(article.ref_fourn)).addClass("align-middle text-center text-sm text-xs font-weight-bold");
                row.append($('<td><span>').text(article.qte)).addClass("align-middle text-center text-sm text-xs font-weight-bold");
                row.append($('<td><span>').text(article.qte_s)).addClass("align-middle text-center text-sm text-xs font-weight-bold");
                row.append($('<td><span>').text(article.status)).addClass("align-middle text-center text-sm text-xs font-weight-bold");
                tableBody.append($('<tr></tr>'));
            
            }

            // Handle selection from datalist
            $('#article-input-button').click('button', function() {
                var inputValue = $('#article-input').val();
                var parts  = inputValue.split(' - ');
                var qte_a_sortir = $('#qte_s').val()  // recuperer la quantite à Sortir

                if (qte_a_sortir == ""){
                  alert("Veuillez Renseigner la qté à sortir")
                }
                
                  else if (parts.length >= 4) {
                      var ref_article = parts[2];
                      console.log(ref_article);
                      $.ajax({
                          url: '/get_articles/',
                          type: 'GET',
                          data: { ref_intern: ref_article, qts:qte_a_sortir },
                          dataType: 'json',
                          success: function(response) {
                              if (response.article) {
                                  addArticleToTable(response.article);
                                  // Vider le champ après le choix de l'article
                                  $('#article-input').val("");  
                                  $('#qte_s').val("")
                                  
                              }
                          },
                          error: function(xhr, status, error) {
                              console.error('An error occurred:', error);
                          }
                      });
                  }
              });
        });  

   
  </script>

{% endblock javascripts %}
